.wholething {
  background-color: #BFFCD8;
  }
header {
  border: 2px solid green;
  }
h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  }
a{
  text-decoration: none;
  color: inherit;
  font-weight: 
  }
.navigation{
  border: 2px dotted cyan;
  }
.navlink{
  display: inline-block;
  }
.fishlist{
  float: left;
  }
.fishimg{
  float: right;
  }
.fishimg img{
  display: block;
  }
  
.states {
  display: inline-block; 
}

