* {
  background-color: teal;
  font-family: helvetica;
  box-sizing: border-box;
  margin: auto;
  }
  
.main {
font-family: garamond;
padding: 1%;
}

img.large {
width: 500px;
height: 310px;
}

img.medium {
width: 340px;
height: 410px;
}

img.small {
width: 330px;
height: 210px;
}